{% extends 'Base.html' %}
{% load static %}
{% block title %} {{ user.username }} |Profile | Viator Product Hunter{% endblock %}



{% block content %}


  
<style>

    button[id="profileButton"]
    {
        background:#f57706;
        opacity: 1;
        border: 1px solid
        #f57706;
    }
    
    button[id="profileButton"]:hover, button[id="profileButton"]:focus, button[id="profileButton"]:active
    {
      
        background-color:#ffc107;
        border-color:#ffc107;
        outline: none !important;
    box-shadow: none !important;
    }

    a[id="profileButton"]
    {
        background:#f57706;
        opacity: 1;
        border: 1px solid
        #f57706;
    }
    
    a[id="profileButton"]:hover, a[id="profileButton"]:focus, a[id="profileButton"]:active
    {
      
        background-color:#ffc107;
        border-color:#ffc107;
        outline: none !important;
    box-shadow: none !important;
    }
</style>

<div class="mx-auto" style="width: 420px;">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card bg-transparent border-0" style="width: 18rem;">
            
                <img src="{% static 'mysite/images/js-logo-full.svg' %}" class="card-img-top mx-auto" alt="...">
              
            
            <div class="card-body">
                    <form action="{% url 'change_password' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                        
                                <input type="password" name="old_password" autofocus required id="id_old_password"  class="form-control"  placeholder="Old Password">
                            <div>
                                <br>
                            <div class="form-group">
                                
                                <input type="password" name="new_password1" required id="id_new_password1"  class="form-control"  placeholder="New Password">
                                <small id="passwordHelpInline" class="text-muted">
                                        <ul>
                                            <li>Your password can&#39;t be too similar to your other personal information.</li>
                                            <li>Your password must contain at least 8 characters.</li>
                                            <li>Your password can&#39;t be a commonly used password.</li>
                                            <li>Your password can&#39;t be entirely numeric.</li>
                                        </ul>
                                </small>
                            <div>
                                <br>
                                    <div class="form-group">
                                            
                                            <input type="password" name="new_password2" required id="id_new_password2"  class="form-control"  placeholder="Confirm New Password">
                                        <div>
                                <br>
                            <button type="submit" class="btn btn-block p-1 text-white mb-2 mx-auto" id="profileButton" value="Change Password">Change Password</button>
                            
                        </form>
            
            
        
            </div>
          </div>



          {% if messages %}
          {% for i in messages %}
          {% if i.tags == "error" %}
            <div class="notifications-wrapper" id="notification" onclick="functionClose();" onload="functionClose()" >
                <div class="notifications-tr"
                  style="font-family: inherit; position: fixed; width: 320px; padding: 0px 10px 10px; z-index: 9998; box-sizing: border-box; height: auto; inset: 0px 0px auto auto;">
                  
                  <div class="notification notification-error notification-visible"
                    style="position: relative; width: 100%; cursor: pointer; border-radius: 2px; font-size: 12px; margin: 10px 5px 2px 1px; padding: 15px 10px; display: block; box-sizing: border-box; opacity: 1; transition: all 0.3s ease-in-out 0s; transform: translate3d(0px, 0px, 0px); will-change: transform, opacity; border-color: rgb(237, 69, 90); border-style: solid; border-width: 1px 1px 1px 20px; background-color: rgb(255, 255, 255); color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.15) -2px 2px 10px 0px; border-image: none 100% / 1 / 0 stretch; right: 0px; height: 72px;">
                    
                    <h4 class="notification-title"
                      style="font-size: 14px; margin: 0px 0px 5px; padding: 0px; font-weight: normal; color: rgb(237, 69, 90); line-height: 17.5px; letter-spacing: -0.3px;">
                      Invalid</h4>
                    <div class="notification-message" style="margin: 0px; padding: 0px; margin-top:-6px;">{{ i }}</div><span
                      class="notification-dismiss" onclick="functionClose();"
                      style="cursor: pointer; font-family: Arial; font-size: 17px; position: absolute; top: 4px; right: 5px; line-height: 15px; background-color: rgb(255, 255, 255); color: rgb(255, 255, 255); border-radius: 50%; width: 14px; height: 14px; font-weight: bold; text-align: center; content: url(&quot;https://dh2wkbcb9yv3l.cloudfront.net/images/close-cool-grey.svg&quot;);">×</span>
                  </div>
                </div>
            </div>
          {% endif %}
            {% endfor %}
          {% endif %}










          
    </div>
  </div>


  <script>
        function functionClose()
        {
          document.getElementById("notification").style.display="none";
        }

        setTimeout(function () { document.getElementById('notification').style.display = "none"; }, 6000); 
      </script>

{% endblock content %}
















