{% extends 'Base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'mysite/css/findProductStyleSheet.css' %}">
<style>
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  position: relative; 
  float: left;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 12px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

th{
  text-align:center;
  border: 1px solid #ccc;
  background-color: #f1f1f1;

}
td{
  font-size:11px;
}
.text-wrap{
    white-space:normal;
}
.width-200{
    width:200px;
 word-break:break-word;
}
.width-20{
    width:100px;
word-break:break-word;
}
/* Style the tab content */
.tabcontent {
  clear: both;
  display: block;
  padding: 6px 12px;
}

    p[id="check1"]:hover {
        background-color: #ffeeba;
    }

    p[id="check1"] {
        color: black;
    }

    .dropdown-menu {
        width: 250px;
        max-width: 250px;
    }

    .custom-checkbox:hover {
        background-color: #ffeeba;
    }

    button[id="profileButton"] {
    background: #f57706;
    opacity: 1;
    border: 1px solid #f57706;
  }

.shop{
  display:none;

}
.shopim:hover .shop{
display:block;
background: white;
border: 1px solid black;
}
  button[id="profileButton"]:hover,
  button[id="profileButton"]:focus,
  button[id="profileButton"]:active {

    background-color: #ffc107;
    border-color: #ffc107;
    outline: none !important;
    box-shadow: none !important;
  }



  a[id="profileButton"] {
    background: #f57706;
    opacity: 1;
    border: 1px solid #f57706;
  }

  a[id="profileButton"]:hover,
  a[id="profileButton"]:focus,
  a[id="profileButton"]:active {

    background-color: #ffc107;
    border-color: #ffc107;
    outline: none !important;
    box-shadow: none !important;
  }
</style>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        <select class="form-control" id="groupmove">          
            {% for grp in groups %}
           <option value="{{grp}}" >{{grp}}</option>
            {%endfor%}
        </select>

        <input type="button" class="btn btn-primary" id="move" onclick="mov1(document.getElementById('move').getAttribute('data'))" style="margin-top:10px;" value="Move"></input>
        <img src="{% static 'mysite/images/giphy.gif' %}" style="display:none" id="moveloading" width="100px" height=40px></img>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="NewGroup" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        <input type="text" id="new-group" class="form-control name_list" placeholder="Enter Name of Group" />
        <input type="button" class="btn btn-primary" id='createbutton' onclick="create()" style="margin-top:10px;" value="Create"></input>
        <img src="{% static 'mysite/images/giphy.gif' %}" style="display:none" id="createloading" width="100px" height=40px></img>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="EditGroup" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        <select class="form-control" id="groupedit">          
            {% for grp in groups %}
           <option value="{{grp}}" >{{grp}}</option>
            {%endfor%}
        </select>
        <br />
        <input type="text" id="edit-group" class="form-control name_list" placeholder="Enter Name of Group" />
        <input type="button" class="btn btn-primary" id='editbutton' onclick="editgroup()" style="margin-top:10px;" value="Edit"></input>
        <img src="{% static 'mysite/images/giphy.gif' %}" style="display:none" id="editloading" width="100px" height=40px></img>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="modal fade" id="EditData" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        <label for="edit-data" style='font-weight:bold;font-size:18px;'id='edit-label'></label>
        <textarea rows="4" cols="50" type="textarea" id="edit-data" class="form-control" placeholder="Enter Value" ></textarea>
        <input type="button" class="btn btn-primary" id='editdataid' onclick="editdata(document.getElementById('editdataid').getAttribute('data'),document.getElementById('editdataid').getAttribute('tableindex'))" style="margin-top:10px;" value="Edit"></input>
        <img src="{% static 'mysite/images/giphy.gif' %}" style="display:none" id="editdataloading" width="100px" height=40px></img>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

    <div class="modal fade" id="DeleteGroup" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
         <select class="form-control" id="groupdelete">          
            {% for grp in groups %}
           <option value="{{grp}}" >{{grp}}</option>
            {%endfor%}
        </select>

        <input type="button" class="btn btn-primary" onclick="dele()" id='deletebutton' style="margin-top:10px;" value="Delete"></input>
        <img src="{% static 'mysite/images/giphy.gif' %}" style="display:none" id="deleteloading" width="100px" height=40px></img>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
              <div class="card mx-auto shadow-lg p-3 mb-5 bg-white rounded" style="width: 100%;">
                    <div class="card-body">
                      <h5 class="card-title">Welcome to the Product Tracker!</h5>
                      <form action="." method="POST">
                          {% csrf_token %}
                            <div class="form-group">
                                    <label for="exampleFormControlSelect1">SELECT WEBSITE TO DOWN</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                      <option value="TAOBAO" selected >TAOBAO.com</option>
                                      <option value="1688">1688.com</option>
                                      <option value="Alibaba">Alibaba.com</option>
                                    </select>
                                  </div>
                                          
                                        <div class="form-group">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered" id="dynamic_field">
                                                            <tr>
                                                                <td><input type="text" name="name" placeholder="HTTP:// Paste Product URL" class="form-control name_list" /></td>
                                                                <td><button type="button" name="add" id="add" class="btn btn-success"><i class="fas fa-plus"></i></button></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                            </div>
                                                                                  <div class="form-group">
                                      <div class="row">
                                            <div class="col">
                                             <div class="form-group mb-2" style="float:left;" >
                                                <a href="#" class="btn btn-primary" onclick="download_table_as_csv();" id="profileButton">Save As .CSV FILE <i class="fas fa-download"></i></a>
                                          </div>

                                                    <input type="button" style="margin-left: 10px"class="btn btn-primary" id="starting" value="Start"></input>
                                                    <img src="{% static 'mysite/images/giphy.gif' %}" style="display:none" id="loading" width="100px" height=40px></img>
                                            </div>
                                          </div>
                                        </div>

                      </form>
  <div style="float:right;margin-right: 50px">
    <p onclick="deleteselected()" style="float:left;padding-right:5px;cursor:pointer;font-size: 12px;color:black;font-weight:bold;"><i class="fas fa-minus"></i>Delete All</p>
 <p onclick="moveselected()" style="float:right;cursor:pointer;font-size: 12px;color:black;font-weight:bold;">Move All</p>
  </div>
    <div class="tab">
  <button class="tablinks" onclick="openCity(event, 'overview')" id="defaultOpen">Overview</button>
  {% for grp in groups %}
  <button class="tablinks" onclick="openCity(event, '{{grp}}')" id="{{grp}}">{{grp}}</button>

  {%endfor%}
   <button type="button" class="tablinks" onclick="  $('#NewGroup').modal('show');" class="btn btn-success"><i class="fas fa-plus"></i>New</button>
   <button type="button" class="tablinks" onclick="  $('#DeleteGroup').modal('show');" class="btn btn-success"><i class="fas fa-minus"></i>Delete</button> 
    <button type="button" class="tablinks" onclick="  $('#EditGroup').modal('show');" class="btn btn-success">Edit</button>  
</div>
<div id="Uncategorized" class="tabcontent">
  
          <div class="table-responsive">
          <table id="response" class="display table table-bordered">
          <thead>
            <th>Group</th>
            <th>Store Name</th>
            <th>Thumbnail</th>
            <th>Product Name</th>
            <th>Price CNY</th>
            <th>Price KWON</th>
            <th>Details</th>
            <th>Product Url</th>         
            <th>Manage</th>        
            <th></th>  
          </thead>
          <tbody></tbody>
              </table>
                                                    </div>

</div>

                    </div>
                  </div>
</main>


<script  src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
var z=0;
$('#add').click(function(){
                z++;
                $('#dynamic_field').append('<tr id="row'+z+'"><td><input type="url" name="name" placeholder="HTTP:// Paste Product URL" class="form-control name_list" /></td><td><button type="button" name="remove" id="'+z+'" class="btn btn-danger btn_remove"><i class="fas fa-minus"></i></button></td></tr>');
            });

            
$(document).on('click', '.btn_remove', function(){
                var button_id = $(this).attr("id"); 
                $('#row'+button_id+'').remove();
            });

 function download_table_as_csv(table_id) {
    // Select rows from table_id
    var csv=[];
    var names=table.settings().init().columns
    var row=[]
    for(var i=0;i<names.length-2;i++){

      row.push(names[i]['name'])
                                      }
      csv.push(row.join(','));

    table.rows().data().each(function(val){
    row=[]
    for(var i=0;i<8;i++){
      if(i==1){
        row.push(val[i][0])
      }
      else{
        if (i==3||i==6){
          val[i]=val[i].replace(/(\r\n|\n|\r|\n\r)/gm," ")
        }
        row.push(val[i])
           }
           }
        csv.push(row.join(','));
                                  

    });
    // Construct csv
    var csv_string = csv.join('\n');
    // Download it
    var filename = 'content_downloader' + '_' + new Date().toLocaleDateString() + '.csv';
    var link = document.createElement('a');
    link.style.display = 'none';
    link.setAttribute('target', '_blank');
    link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
    link.setAttribute('download', filename);
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
}

function deleteselected(){
  var array=[]
  table.rows({search:'applied'}).every( function () {
  array.push(table.row(this).node().id)
                                    });
              $.ajaxSetup({
                   headers: { "X-CSRFToken": '{{ csrf_token }}' }
                       });

     $.ajax({
       url:"/keyword-find/",
       method:"POST",
       dataType: 'json',
       data:{deleteselected:array},
        success:function(result)
                    {
       table.rows({search:'applied'}).remove().draw()
                       }
                });


}

function show(id){
      $(id).parent().css('display','none')
      $(id).parent().next().css('display','')
      $(id).parent().next().next().css('display','')
    }

function hide(id){
      $(id).css('display','none')
      $(id).prev().css('display','none')
      $(id).prev().prev().css('display','')

    }

function mov(id){
    document.getElementById('groupmove').value=table.cell($('#'+id),0).data()
    $('#myModal').modal('show'); 
    document.getElementById('move').setAttribute('data',id)
  }

function moveselected(){
          document.getElementById('groupmove').value='Uncategorized'
          $('#myModal').modal('show'); 
          document.getElementById('move').setAttribute('data','selected')

  }

function del(id){

     $.ajax({
       url:"/content-downloader/",
       method:"GET",
       dataType: 'json',
       data:{delete:id},
        success:function(result)
                    {
              table.row($('#'+id)).remove().draw()
                       }
                });


  }

function dele(){
      document.getElementById('deletebutton').style.display='none'
      document.getElementById('deleteloading').style.display=''

      var deleted_group=document.getElementById('groupdelete').value
      $.ajax({
           url:"/content-downloader/",
           method:"GET",
           dataType: 'json',
           data:{groupdelete:deleted_group},
           success:function(result)
                    { 
          location.reload();

                    }});

      
                  }
 
function create(){
        document.getElementById('createbutton').style.display='none'
      document.getElementById('createloading').style.display=''

      var created_group=document.getElementById('new-group').value
      $.ajax({
           url:"/content-downloader/",
           method:"GET",
           dataType: 'json',
           data:{create:created_group},
           success:function(result)
                    { 
          location.reload()

                    }});


      
                  }

function editgroup(){
          document.getElementById('editbutton').style.display='none'
      document.getElementById('editloading').style.display=''

        var data=document.getElementById('edit-group').value
        if (data==''){
          return
        }
      var editgroup=document.getElementById('groupedit').value
      $.ajax({
           url:"/content-downloader/",
           method:"GET",
           dataType: 'json',
           data:{editgroup:editgroup,data:data},
           success:function(result)
                    { 
          location.reload()

                    }});


      
                  }
function mov1(id){
        document.getElementById('move').style.display='none'
      document.getElementById('moveloading').style.display=''

  if(id=='selected'){
  var array=[]
  table.rows({search:'applied'}).every( function () {
  array.push(table.row(this).node().id)
                                    });
       $.ajaxSetup({
             headers: { "X-CSRFToken": '{{ csrf_token }}' }
                   });

     $.ajax({
       url:"/content-downloader/",
       method:"POST",
       dataType: 'json',
       data:{moveselected:array,group:document.getElementById('groupmove').value},
        success:function(result)
                    {
         $('#myModal').modal('hide'); 
          table.rows({search:'applied'}).every( function ( rowIdx, tableLoop, rowLoop ) {
                var data = this.data();
                data[0] = document.getElementById('groupmove').value;
                this.data(data);
                                                                  } )

          document.getElementsByClassName("tablinks active")[0].click();
          document.getElementById('move').style.display=''
          document.getElementById('moveloading').style.display='none'

                       }
                });


          return
        }


  $.ajax({
       url:"/content-downloader/",
       method:"GET",
       dataType: 'json',
       data:{move:id,group:document.getElementById('groupmove').value},
       success:function(result)
       {
          $('#myModal').modal('hide'); 
          table.cell($('#'+id),0).data(document.getElementById('groupmove').value)
                       
          document.getElementsByClassName("tablinks active")[0].click();
        document.getElementById('move').style.display=''
      document.getElementById('moveloading').style.display='none'

                       }
                });
}

var overview={{overview|safe}};
$('#response').on( 'dblclick', 'tbody td:not(:first-child, :nth-child(3), :nth-child(8), :nth-child(9))', function (e) {

document.getElementById('edit-label').innerHTML=table.settings().init().columns[table.cell(this).index().column].name
document.getElementById('editdataid').setAttribute('data',$(this).parents('tr').attr('id'))
document.getElementById('editdataid').setAttribute('tableindex',$(this).index())

$('#EditData').modal('show'); 

if($(this).index()==6){
document.getElementById('edit-data').setAttribute('rows',10)
document.getElementById('edit-data').value= table.cell($(this).parents('tr'),6).data()
}
else{
if($(this).index()==1){
document.getElementById('edit-data').value=$(this).children(":first").children(":first").text()

}
else{
  if($(this).index()==4){
  document.getElementById('edit-data').value=$(this).children(":first").text().replace("¥", "")
    document.getElementById('edit-data').value=document.getElementById('edit-data').value.replace(/\s+/g, '')

  }
  else{
    if($(this).index()==5){
              document.getElementById('edit-data').value=$(this).children(":first").text().replace("₩", "")
              document.getElementById('edit-data').value=document.getElementById('edit-data').value.replace(/\s+/g, '')

  }
  else{
  document.getElementById('edit-data').value=$(this).children(":first").text()

  }

  }
  

}
document.getElementById('edit-data').setAttribute('rows',4)

}
    } );

var table = $('#response').DataTable( {     
          "scrollY":        "70vh",
          "scrollCollapse": true,
          "scrollX":"50vh",
          columns: [
            { "name": "group" },
            { "name": "Store Name" },
            { "name": "Thumbnail" },
            { "name": "Product Name" },
            { "name": "Price CNY" },
            { "name": "Price KWON" },
            { "name": "Details" },
            { "name": "url" },
            { "name": "manage" }
            ],
                    "order": [[ 9, 'desc' ]],

              columnDefs: [{
            "searchable": false,
            "orderable": true,
            "visible":false,
            "targets": 9
             }, {
                    render: function (data, type, full, meta) {
                      if (data.length<100){
                        return "<div class='text-wrap width-200'>" + data +"</div>";        
                                          }
                        return "<div  class='text-wrap width-200'><div>" + data.slice(0,100) + "<a style='cursor:pointer;font-weight:bold;' onclick='show(this)'>...Show More</a></div><div style='display:none;'>"+data+"</div> <a style='cursor:pointer;font-weight:bold;display:none' onclick='hide(this)'>Show Less</a></div>";
                    },
                    targets: [6]

                },
                     {
                    render: function (data, type, full, meta) {
                        return "<div align='center' class='text-wrap width-20'>" + data+"</div>"
                    },
                    targets: [0,3]
                },
                     {
                    render: function (data, type, full, meta) {
                        return "<div align='center' class='text-wrap width-20'> ¥" + data+"</div>"
                    },
                    targets: [4]
                },
                     {
                    render: function (data, type, full, meta) {
                        return "<div align='center' class='text-wrap width-20'> ₩" + data+"</div>"
                    },
                    targets: [5]
                },

                     {
                    render: function (data, type, full, meta) {
                        return "<div align='center' class='shopim text-wrap width-20'><div>" + data[0]+"</div><div class='shop'><a target='_blank' href='"+data[1]+"'>Open</a></div></div>"
                    },
                    targets: [1]
                },

               {

                    render: function (data, type, full, meta) {
                        return "<div align='center'><a  target='_blank' style='cursor:pointer;color:blue;' href='"+data+"'>Open</a></div>"
                    },
                    targets: [7]
                },

               {
                    render: function (data, type, full, meta) {
                        return "<div align='center'><a  target='_blank' href='"+data+"'><img src='" + data+"' width='60px' height='60px'></img></a></div>"
                    },
                    targets: [2]
                },
             ],
                   } );
      document.getElementById("defaultOpen").click();

      addentry(overview)

function openCity(evt, cityName) {
    var k, tablinks;
    if(cityName=='overview'){
    table.column(0)
         .search('')
         .draw();

    }
    else{
      table.column(0)
         .search(cityName)
         .draw();
       }
    tablinks = document.getElementsByClassName("tablinks");
    for (k = 0; k < tablinks.length; k++) {
          tablinks[k].className = tablinks[k].className.replace(" active", "");
                                              }
          evt.currentTarget.className += " active";
                                              }            
function addentry(result){
  for (var key in result) {
    button="<a href='javascript:del("+result[key]['id']+");' >Delete</a>   <a href='javascript:mov("+result[key]['id']+")';>Move</a>"

      table.row.add([result[key]['group'],[result[key]['shop-name'],result[key]['company_href']],result[key]['image'],result[key]['title'],result[key]['price'],result[key]['price_krw'],result[key]['details'],result[key]['url'],button,result[key]['id']]).node().id=result[key]['id']
      table.draw(false)
 
  }
setTimeout(function () {$($.fn.dataTable.tables( true ) ).DataTable().columns.adjust().draw();},200)

}
function editdata(id,index){
document.getElementById('editdataid').style.display='none'
document.getElementById('editdataloading').style.display=''

  $.ajaxSetup({
     headers: { "X-CSRFToken": '{{ csrf_token }}' }
             });
                
  $.ajax({
           url:"/content-downloader/",
           method:"GET",
           dataType: 'json',
           data:{edit:id,data:document.getElementById('edit-data').value,field:document.getElementById('edit-label').innerHTML},
                    success:function(result)
                    {
                     if(document.getElementById('edit-label').innerHTML=='Store Name'){
                      table.cell($('#'+id),index).data([document.getElementById('edit-data').value,(table.cell($('#'+id),index).data())[1]])

                     }
                     else{
                      table.cell($('#'+id),index).data(document.getElementById('edit-data').value)
                      }
                        $('#EditData').modal('hide'); 
                      document.getElementById('editdataid').style.display=''
                      document.getElementById('editdataloading').style.display='none'

                    },
                    error:function (xhr, ajaxOptions, thrownError) {

                             alert("Try Again");
                                                  }
                });


}
      $('#starting').click(function(){    
          document.getElementById("starting").style.display="none";
          document.getElementById("loading").style.display="block"
          var array=[];
          urls=document.getElementsByName('name')
          for (var k=0;k<urls.length;k++){        
            if(urls[k].value!=""){
                  array.push(urls[k].value)
                                  }
                                         }
            if (array.length==0){
                document.getElementById("starting").style.display="";
                document.getElementById("loading").style.display="none"
                return  
                }
            $.ajaxSetup({
                   headers: { "X-CSRFToken": '{{ csrf_token }}' }
                       });
                
            $.ajax({
                    url:"/content-downloader/",
                    method:"POST",
                    dataType: 'json',
                    data:{urls:array,website:document.getElementById('exampleFormControlSelect1').value},
                    success:function(result)
                    {
                    document.getElementById("starting").style.display="";
                    document.getElementById("loading").style.display="none"
                     addentry(result)
                    },
                    error:function (xhr, ajaxOptions, thrownError) {
                                          document.getElementById("starting").style.display="";
                    document.getElementById("loading").style.display="none"

                             alert("Try Again");
                                                  }
                });
        
            });

</script>
        


{% endblock %}
